### Play store Data Set

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
file_path="/content/drive/MyDrive/Play Store Data.csv"

In [4]:
df=pd.read_csv("/content/drive/MyDrive/Play Store Data.csv")
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [5]:
df_X=pd.read_csv("/content/drive/MyDrive/User Reviews.csv")
df_X.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [6]:
df_merged=df.merge(df_X)

In [7]:
df_merged.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,A kid's excessive ads. The types ads allowed a...,Negative,-0.250,1.000000
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,It bad >:(,Negative,-0.725,0.833333
2,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,like,Neutral,0.000,0.000000
3,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,NaN,NaN,NaN,NaN
4,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,I love colors inspyering,Positive,0.500,0.600000

In [8]:
df_x=df_merged.dropna()

In [9]:
df_merged.info(), df_merged.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122662 entries, 0 to 122661
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   App                     122662 non-null  object
 1   Category                122662 non-null  object
 2   Rating                  122622 non-null  float64
 3   Reviews                 122662 non-null  object
 4   Size                    122662 non-null  object
 5   Installs                122662 non-null  object
 6   Type                    122662 non-null  object
 7   Price                   122662 non-null  object
 8   Content Rating          122662 non-null  object
 9   Genres                  122662 non-null  object
 10  Last Updated            122662 non-null  object
 11  Current Ver             122662 non-null  object
 12  Android Ver             122662 non-null  object
 13  Translated_Review       72605 non-null   object
 14  Sentiment               72615 non-null   object
 15  Sentiment_Polarity      72615 non-null   float64
 16  Sentiment_Subjectivity  72615 non-null   float64
dtypes: float64(3), object(14)
memory usage: 16.8+ MB

(None, (122662, 17))

In [10]:
df_x.info(), df_x.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72566 entries, 0 to 122661
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     72566 non-null  object
 1   Category                72566 non-null  object
 2   Rating                  72566 non-null  float64
 3   Reviews                 72566 non-null  object
 4   Size                    72566 non-null  object
 5   Installs                72566 non-null  object
 6   Type                    72566 non-null  object
 7   Price                   72566 non-null  object
 8   Content Rating          72566 non-null  object
 9   Genres                  72566 non-null  object
 10  Last Updated            72566 non-null  object
 11  Current Ver             72566 non-null  object
 12  Android Ver             72566 non-null  object
 13  Translated_Review       72566 non-null  object
 14  Sentiment               72566 non-null  object
 15  Sentiment_Polarity      72566 non-null  float64
 16  Sentiment_Subjectivity  72566 non-null  float64
dtypes: float64(3), object(14)
memory usage: 10.0+ MB

(None, (72566, 17))

In [11]:
df_2=df_5[["Rating","App","Price","Installs","Size"]]
df_2.head()

NameError: ignored

In [ ]:
df_3=df_5[["Last_Updated","Rating"]].head(500)
df_3

In [ ]:
df_3.plot(x="Last_Updated",y="Rating", kind="scatter")

In [ ]:
sns.heatmap(df)

In [ ]:
df_3.dropna()

In [ ]:
df_3

In [ ]:
df_3

In [ ]:
df_3.plot(x="last Update", y="Rating", kind="scatter")

In [ ]:
df_5

In [ ]:
df_merged.columns

In [ ]:
geners=df_merged[["Sentiment","App"]].value_counts()
geners

In [ ]:
geners.plot(kind="bar",figsize=(30,10))

Our project based on EDA (Exploratort Data Analysis) type and we are using Google Play Store App Review dataset to EDA. 
Here we are using Python language to operation and also import  some important libraries such as Pandas for data analysis and Matplotlib for data visulization etc.
Our main Objective is to discoover key factors reposible for App engagement and success.